@import "./mixins.scss";

header {
  position: relative;
  z-index: 2;
  @include Container;
  padding: 20px 0;
  nav {
    @include RowContainer;
    justify-content: space-between;
    align-items: center;
    ul {
      @include ListClean;
      display: flex;
      align-items: center;
      li {
        text-transform: uppercase;
        margin: 10px 20px;
      }
      .login {
        border-radius: 50px;
        border: 1px solid #66c8db;
        color: #66c8db;
        padding: 8px 30px;
      }
      .register {
        border-radius: 50px;
        border: 1px solid white;
        color: white;
        padding: 8px 30px;
      }
    }
  }
}
